.character-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1500px) {
  .character-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .character-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .character-grid {
    grid-template-columns: 1fr;
  }
}
