@import '../../../../styles/mixings';

.character__info {
  &__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;

    div {
      display: flex;
      align-items: center;
    }

    &__label {
      font-weight: bold;
    }

    &__data {
      @include first-letter-bb;
      margin: 0;
    }

    &__date {
      margin: 0;
    }

    &__quote {
      font-size: 1.5rem;
      font-style: italic;
      margin: 0;
    }

    .quote__block {
      display: flex;
    }
  }

}

.quote {
  font-size: 2rem;

  &--rotated {
    transform: rotate(180deg);
  }
}

@media (max-width: 800px) {
  .character__info__block {
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(1) {
      div {
        margin-left: 0 !important;
      }
    }

  }
}
