<mat-card>
  <div class="character__info">
    <div class="character__info__block mb-3">
      <div>
        <span class="character__info__block__label" translate>character.name</span>
        <span class="mr-1">:</span>
        <p class="character__info__block__data">{{character.name}}</p>
      </div>
      <div class="ml-3">
        <span class="character__info__block__label" translate>character.nickname</span>
        <span class="mr-1">:</span>
        <p class="character__info__block__data">{{character.nickname}}</p>
      </div>
    </div>

    <div class="character__info__block mb-3">
      <div>
        <span class="character__info__block__label" translate>character.birthday</span>
        <span class="mr-1">:</span>
        <p class="character__info__block__date">{{character.birthday}}</p>
      </div>
    </div>

    <div class="character__info__block mb-3">
      <div>
        <span class="character__info__block__label" translate> character.occupation </span>
        <span class="mr-1">:</span>
        <mat-chip-list>
          <mat-chip *ngFor="let ocupation of character.occupation ">{{ ocupation }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div class="character__info__block mb-3">
      <div>
        <span class="character__info__block__label" translate> character.status </span>
        <span class="mr-1">:</span>
        <mat-chip
          selected
          [color]="characterStatusChipColor(character.status)">
          {{ character.status }}
        </mat-chip>
      </div>
    </div>

    <div class="quote__block">
      <p class="character__info__block__quote">
        <mat-icon class="quote quote--rotated">format_quote</mat-icon>
        {{quote | translate}}

        <mat-icon class="quote">format_quote</mat-icon>
      </p>
    </div>

  </div>
</mat-card>
