.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  &__logo {
    width: 10rem;

    &__container {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-size: 4rem;
    &__container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    &::first-letter {
      color: green;
    }
  }

}
