@import '../../../styles/mixings';

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__logo {
    width: 10rem;
    height: 10rem;

    &__container {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-size: 4rem;
    &__container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    @include first-letter-bb;
  }

}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, .80);
}

@media (max-width: 700px) {

  header {
    height: 13rem !important;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
}
