<header @container
  [style.height.px]="height"
  (bcSticky)="onElastic($event)">
  <div class="header" [style.height.px]="height">
    <div class="header__logo__container"
      @bouncingLeft
      [style.transform]="transform" >
      <img class="header__logo mr-1" src="assets/img/breaking-bad-logo-little.png" alt="breaking bad logo">
      <div class="header__title__container">
        <p class="header__title mb-3">Breaking &nbsp;</p>
        <p class="header__title ml-3">Chars</p>
      </div>
    </div>

    <mat-form-field @bouncingRight>
      <mat-label translate> chooseLanguage </mat-label>
      <mat-select [formControl]="languageSelector">
        <mat-option value="es">Español</mat-option>
        <mat-option value="en">English</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</header>
